 form button {
  height: 75px;
  width: 75px;
  font-size: 1.25em;
}

.btn {
  color: black;
  font-size: 2em;
}

.container {
  border: 3px solid black;
  width: 390px;
  /*padding: 5px 5px;*/
  /*left: 20px;*/
  background-color: grey;
  margin-top: 15px;
}

h1 {
 color: white;
 text-align: center;
}

.row {
  margin: 5px 5px;
}

#currentCalculationDisplay, #previousCalculationDisplay {
  width:330px;
  border: 3px solid black;
  background-color: white;
  margin: 5px 5px;
  padding: 5px 5px;
  border-radius: 5px;

}
#previousCalculationDisplay {
  min-height: 160px;
  font-size: 1.1em;
}

#currentCalculationDisplay {
  min-height: 70px;
  font-size: 2em;
}

#sqrRt {
  text-decoration: overline;
}

#moreInfo, #moreInfo a {
  color: black;
  background-color: #ec971f;
}
